@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply bg-white text-[#303030] dark:bg-[#252525] dark:text-white transition-colors duration-200;
  }
}

